<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INsashServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8999/SeniorServer.NashServices.svc/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INsashServices"
                contract="ConTester.INsashServices" name="BasicHttpBinding_INsashServices" />
        </client>
    </system.serviceModel>
</configuration>